In [4]:
import math

In [5]:
print(dir(math))
print("Существует столько математических функций:", len(dir(math)))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fma', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
Существует столько математических функций: 67

In [8]:
import pandas as pd 
print(dir(pd))
print("Количесвто методов в библиотеке PANDAS:", len(dir(pd)))

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv("seaice.csv")
df.head()

,Year,Month,Day,Extent,Missing,Source Data,hemisphere
0,1978,10,26,10.231,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
1,1978,10,28,10.420,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
2,1978,10,30,10.557,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
3,1978,11,1,10.670,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
4,1978,11,3,10.777,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north

In [ ]:
df.tail(5)

,Year,Month,Day,Extent,Missing,Source Data,hemisphere
26349,2019,5,27,10.085,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsidc...,south
26350,2019,5,28,10.078,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsidc...,south
26351,2019,5,29,10.219,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsidc...,south
26352,2019,5,30,10.363,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsidc...,south
26353,2019,5,31,10.436,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsidc...,south

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26354 entries, 0 to 26353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          26354 non-null  int64
 1    Month        26354 non-null  int64
 2    Day          26354 non-null  int64
 3        Extent   26354 non-null  float64
 4       Missing   26354 non-null  float64
 5    Source Data  26354 non-null  object
 6   hemisphere    26354 non-null  object
dtypes: float64(2), int64(3), object(2)
memory usage: 1.4+ MB

In [ ]:
df.max()

Year                                                         2019
 Month                                                         12
 Day                                                           31
     Extent                                                20.201
    Missing                                                 0.024
 Source Data    ['ftp://sidads.colorado.edu/pub/DATASETS/nsidc...
hemisphere                                                  south
dtype: object

In [ ]:
df.head(5)

,Year,Month,Day,Extent,Missing,Source Data,hemisphere
0,1978,10,26,10.231,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
1,1978,10,28,10.420,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
2,1978,10,30,10.557,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
3,1978,11,1,10.670,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north
4,1978,11,3,10.777,0.0,['ftp://sidads.colorado.edu/pub/DATASETS/nsid...,north

In [ ]:
df.min()

Year                                                         1978
 Month                                                          1
 Day                                                            1
     Extent                                                  2.08
    Missing                                                   0.0
 Source Data     ['ftp://sidads.colorado.edu/pub/DATASETS/nsid...
hemisphere                                                  north
dtype: object

In [7]:
print("Тестовый принт!")

Тестовый принт!